# Python bytecode files
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/
env/
.env/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE specific files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs
*.log
